<ion-view title="Cardápio" id="page2" style="background-color:#22C9E1;">
  <ion-content padding="true" class="has-header">
    <ion-list id="cardPio-list6">
      <label class="item item-input" id="cardPio-search1" name="prato">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar prato">
      </label>
      <ion-item class="item-thumbnail-left" id="cardPio-list-item11">
        <img src="img/swZVHXwsSGCKjcsYx9ew_depositphotos_69741039-stock-photo-typical-brazilian-dish-feijoada.jpg">
        <h2>Feijoada</h2>
        <p>R$ 10,00</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cardPio-list-item13">
        <img src="img/godXojZLRKGO7fUJZg7t_depositphotos_69725607-stock-photo-dish-with-meat-rice-and.jpg">
        <h2>Filé na Chapa</h2>
        <p>R$ 35,00</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cardPio-list-item14">
        <img src="img/rabada-polenta-receita.jpg">
        <h2>Rabada com Polenta</h2>
        <p>R$ 15,00</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cardPio-list-item15">
        <img src="img/A0KbFnuTvKYTBm9RBQEr_depositphotos_11439306-stock-photo-brazilian-cheese-buns.jpg">
        <h2>Pão de Queijo</h2>
        <p>R$ 20,00</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cardPio-list-item7">
        <img src="img/2Gsr3omwTuCM4LUKOr6x_depositphotos_69769193-stock-photo-brigadier-brazilian-chocolate-bonbons.jpg">
        <h2>Brigadeeiro </h2>
        <p>R$5,00</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>