<ion-view title="HOME" nav-transition="none" id="page4">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <ion-list id="hOME-list1">
      <ion-item class="item-avatar item-icon-right positive" id="hOME-list-item5" ui-sref="tabsController.perfil()">
        <img src="img/21730914_1142263155917683_6538694099045700313_n.jpg_nc_cat110_nc_eui2AeFhEiJrLBqCqsYvY5xu2BhUs6QFOUREXtnFAq6ShpHoHPIdWQUBim7hMTwn7RjpZszLWtLqxHKHtAW9sYgI-7dSwiHercNN3TvGp19vjslnRg_nc_ocAQkU_KYhNcOwU2kEKentVYSDexSzq1INWPFyIxCU85LpIetW1kQvFXuUznb97KfZdxc_nc_htscontent-gru2-1.xxohbac314ff0736a95a85d1ffa4f5e169fcoe5DBDB0EB">
        <h2positive>Jeliel Oliveira
          <p>Rio branco-Ac</p>
          <i class="icon ion-android-person"></i>
        </h2positive>
      </ion-item>
    </ion-list>
    <ion-list id="hOME-list14">
      <ion-item class="item-divider" id="hOME-list-item-divider2"> Recomendações </ion-item>
    </ion-list>
    <div>
      <a style="display:block;" ui-sref="tabsController.cardPio()">
        <img src="img/swZVHXwsSGCKjcsYx9ew_depositphotos_69741039-stock-photo-typical-brazilian-dish-feijoada.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <ion-list id="hOME-list2">
      <ion-item class="item-icon-right positive" id="hOME-list-item6" ui-sref="tabsController.cardPio()">Feijoada
        <i class="icon ion-android-add-circle"></i>
      </ion-item>
    </ion-list>
    <div>
      <a style="display:block;" ui-sref="tabsController.cardPio()">
        <img src="img/godXojZLRKGO7fUJZg7t_depositphotos_69725607-stock-photo-dish-with-meat-rice-and.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <ion-list id="hOME-list8">
      <ion-item class="item-icon-right positive" id="hOME-list-item20" ui-sref="tabsController.cardPio()">Filé na chapa
        <i class="icon ion-android-add-circle"></i>
      </ion-item>
    </ion-list>
    <div>
      <a style="display:block;" ui-sref="tabsController.cardPio()">
        <img src="img/2Gsr3omwTuCM4LUKOr6x_depositphotos_69769193-stock-photo-brigadier-brazilian-chocolate-bonbons.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <ion-list id="hOME-list9">
      <ion-item class="item-icon-right positive" id="hOME-list-item21" ui-sref="tabsController.cardPio()">Brigadeiro
        <i class="icon ion-android-add-circle"></i>
      </ion-item>
    </ion-list>
    <div>
      <a style="display:block;" ui-sref="tabsController.cardPio()">
        <img src="img/A0KbFnuTvKYTBm9RBQEr_depositphotos_11439306-stock-photo-brazilian-cheese-buns.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <ion-list id="hOME-list10">
      <ion-item class="item-icon-right positive" id="hOME-list-item22">Pão de Queijo
        <i class="icon ion-android-add-circle"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>