<ion-view title="perfil" id="page3" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <ion-list id="perfil-list13">
      <ion-item class="item-avatar positive" id="perfil-list-item30">
        <img src="img/21730914_1142263155917683_6538694099045700313_n.jpg_nc_cat110_nc_eui2AeFhEiJrLBqCqsYvY5xu2BhUs6QFOUREXtnFAq6ShpHoHPIdWQUBim7hMTwn7RjpZszLWtLqxHKHtAW9sYgI-7dSwiHercNN3TvGp19vjslnRg_nc_ocAQkU_KYhNcOwU2kEKentVYSDexSzq1INWPFyIxCU85LpIetW1kQvFXuUznb97KfZdxc_nc_htscontent-gru2-1.xxohbac314ff0736a95a85d1ffa4f5e169fcoe5DBDB0EB">
        <h2positive>jeliel Oliveira
          <p>Rio Branco-Ac</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <div id="perfil-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#0066FF;">Endereço: Rua 1° de Agosto N:772</p>

      <p style="color:#0066FF;">Bairro: Placas</p>
    </div>
    <div id="perfil-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#003DFF;">Email: jelielrodrigues23@gmail.com</p>
    </div>
    <div id="perfil-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#0052FF;">Telefone: 68 9 9994-4491</p>
    </div>
    <form id="perfil-form8" class="list">
      <label class="item item-input" id="perfil-textarea2" name="rabada">
        <span class="input-label">Pratos prediletos</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="perfil-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#1400FF;">Filé com fritas</p>
    </div>
    <div id="perfil-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#0029FF;">Rabada</p>
    </div>
    <ion-list id="perfil-list12">
      <ion-item class="item-icon-right positive" id="perfil-list-item27" href-inappbrowser="https://web.facebook.com/jeliel.rodriguesdeoliveira.7">Facebook
        <i class="icon ion-social-facebook"></i>
      </ion-item>
      <ion-item class="item-icon-right assertive" id="perfil-list-item28" href-inappbrowser="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRrkzRbDHshZjkbwRkjFrgjwKdHkgBTxNClLHClSVTZRQsWLRrvLXwcfjLGsnHnGhnPLVHl">Gmail
        <i class="icon ion-email"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>